<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DesktopApp.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <DesktopApp.AppSettings>
      <setting name="UserID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UserRole" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsBlocked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BlockDuration" serializeAs="String">
        <value>00:00:10</value>
      </setting>
      <setting name="WarningDuration" serializeAs="String">
        <value>00:00:15</value>
      </setting>
      <setting name="SessionDuration" serializeAs="String">
        <value>00:00:20</value>
      </setting>
      <setting name="DateBlocked" serializeAs="String">
        <value />
      </setting>
    </DesktopApp.AppSettings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DatabaseContext" connectionString="data source=.\SQLEXPRESS;initial catalog=Database2;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>